DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pos_senior_db?schema=public"
JWT_ACCESS_SECRET="change_this_access_secret_min_32_chars"
JWT_REFRESH_SECRET="change_this_refresh_secret_min_32_chars"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"
PORT=4000
CORS_ORIGIN="http://localhost:5173"
BCRYPT_ROUNDS=12
